/* Generales*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Mobile First */

@media screen and (min-width: 380px) {

/* GRID esquema */

    .container-insta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 75px 100% 28px;
        grid-template-areas: "header header" "main main" "footer footer";
        gap: 5px;
    }

    .item {
        background: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .insta-aside {
        grid-area: aside;
        display: none;
    }

    .insta-footer {
        grid-area: footer;
    }

    /* Header */

    .insta-header {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        display: flex;
        grid-area: header;
        justify-content: space-between;
    }

    .buscador{
        display: none;
    }

    .insta-logo{
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 500;
        margin: 15px;
    }

    .pic{
        height: 49px;
        margin: 15px;
        width: 50px;
    }

    /* Main */

    .insta-main {
        display: flex;
        flex-direction: column;
        grid-area: main;
    }

    .insta-pic{
        border: 0.4px solid rgba(34, 34, 34, 0.5);
        border-radius: 5px;  
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;     
        grid-template-rows: 1fr; 
        gap: 5px;
        height: 100px;
        margin: 0 10px;
        width: 90%;
    }

    .column-pic::after{
        content: url(../img/ContainerPerfil.png);
    }


    
}